@font-face {
    font-family: 'DaxOT';
    src: url('../fonts/DaxOT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DaxOT-Bold.otf') format('opentype'), url('../fonts/DaxOT-Bold.woff') format('woff'), url('../fonts/DaxOT-Bold.ttf') format('truetype'), url('../fonts/DaxOT-Bold.svg#DaxOT-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DaxOT';
    src: url('../fonts/DaxOT-CondRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/DaxOT-CondRegular.otf') format('opentype'), url('../fonts/DaxOT-CondRegular.woff') format('woff'), url('../fonts/DaxOT-CondRegular.ttf') format('truetype'), url('../fonts/DaxOT-CondRegular.svg#DaxOT-CondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DaxOT';
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
    text-decoration: none;
    outline: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    padding: 10px 0 15px;
    margin: 0;
}

.book-and-win {
    background: url(../images/travel-emi-banner.jpg) no-repeat top left;
    background-size: cover;
    min-height: 100vh;
}

header {
    padding: 15px 0;
}

header .logo {
    max-width: 200px;
}

header .travelemi {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

header .travelemi span {
    color: #a8b1c0;
}

.game-first-step {
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 5%;
    width: 100%;
    max-width: 550px;
}

.game-first-step h1 {
    font-size: 74px;
    /* color: #e2613d; */
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to right, #e36a3d 10%, #e77e3d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-first-step h1 span {
    padding: 0 10px;
    font-weight: normal;
}

.game-first-step p {
    color: #000000;
}

.bookwin-form .form-group {
    margin-bottom: 10px;
    padding: 0 20px 0 0;
}

.bookwin-form .form-group .form-control {
    border: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 20px;
    color: #000;
    height: auto;
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder {
    color: #000000
}

.playnow,
.playnow:hover {
    background: -moz-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -webkit-gradient(linear, 145deg, color-stop(21%, E98D3D), color-stop(100%, E2613D));
    background: -webkit-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -o-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -ms-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    color: #fff;
    font-size: 20px;
    padding: 7px;
    width: 180px;
    height: auto;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    margin: 20px 0 0;
    outline: 0;
    box-shadow: none;
}
body .sec-gap{
    padding:35px 0;
}
body .sec-gap:first-of-type {
    padding-top: 50px;
}
.cmn-heading{
    font-size: 50px;
    /* color: #ff9200; */
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(to right, #e36a3d 10%, #e77e3d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.travel-info .travelinfo-block{
    position: relative;
    padding: 20px;
    cursor: pointer;
}
.travel-info .travelinfo-block img{
    width: 100%;
}
.travel-info .travelinfo-block input[type=radio]{
    display: none;
}
.travel-info .travelinfo-block p{
    text-align: center;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    transition: all ease-in-out 0.2s;
    margin: 0;
}
.travel-info .travelinfo-block .cardstatus{
    content: "";
    position: absolute;
    top: 11%;
    left: 6%;
    background: #8c8787;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
.travel-info .travelinfo-block .cardstatus span{
    opacity: 0;
    transition: all ease-in-out 0.2s;
}
.travel-info .travelinfo-block.active .cardstatus{
    background: #E98D3D;
}
.travelinfo-block.active p{
    color: #ff9200;
    text-decoration: underline;
}
.travelinfo-block.active .cardstatus span{
    opacity: 1;
}
.lock-choices{ margin: 20px 0 0}
.flip-to-win{
    background: #00112f;
}
.clr-white{
    color: #fff;
}

footer {
    background: #000;
    padding: 10px 0;
    color: #fbf8f8;
}
footer p{
    margin: 0;
    color: #fbf8f8;
    font-size: 14px;
}
.social {
    text-align: right;
}
.social a{
    padding: 4px 0px;
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: normal;
    text-align: center;
    border: 1px solid #fbf8f8;
    transition: all ease-in-out 0.2s;
}
.social a:hover{
    background: #fff;
}
.social a:hover .fa{ color: #000000;}
.social a .fa{ color: #fbf8f8; padding: 0;}
.tripoffers {
    padding: 0;
    position: relative;
    width: 22%;
    background: #fbf8f8;
    float: left;
    margin: 16px;
}
.tripoffers img{
    width: 100%;
}
.offer-details{
    padding: 10px;
}
.offer-details p{
    margin: 0;
}
.travellogo {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 70px;
}
.travellogo img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.cityname {
    font-size: 18px;
    font-weight: 700;
}
.emi-info {
    font-size: 18px;
    text-align: right;
}
.price{
    color: #ec9b3d;
    font-weight: 700;
    font-size: 20px;
}
#tripoffers.owl-carousel .owl-nav .owl-prev, #tripoffers.owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;
    outline: 0;
    box-shadow: none;
}
#tripoffers.owl-carousel .owl-nav .owl-prev span, #tripoffers.owl-carousel .owl-nav .owl-next span{
    display: none;
}
#tripoffers .owl-nav .owl-prev{
    background: url(../images/nav-prev.png) center center no-repeat;
    background-size: 100%;
    left: -80px;
}
#tripoffers .owl-nav .owl-next{
    background: url(../images/nav-next.png) center center no-repeat;
    background-size: 100%;
    right: -80px;
}
.unlockoffers{
    width: 250px;
    display: block;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    background: -moz-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -webkit-gradient(linear, 145deg, color-stop(21%, E98D3D), color-stop(100%, E2613D));
    background: -webkit-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -o-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    background: -ms-linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(145deg, #E98D3D 21%, #E2613D 100%);
}
.unlockoffers a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}
#card-options {
    width: 80%;
    margin: 0 auto;
}
#card-options li{
    padding: 0 20px;
    position: relative;
    transition: all ease-in-out 0.2s;
    width: 33%;
}
#card-options li:after{
    content: "";
    position: absolute;
    height: 40px;
    width: 1px;
    background: #ddd;
    top: 9px;
    right: 0%;
}
#card-options li:last-child:after{
    display: none;
}
#card-options li a{
    color: #585858;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    font-size: 20px;
    padding: 10px 0;
}
#card-options li a.active{
    font-weight: 700;
    border-bottom: 1px solid #ff9200;
    font-size: 18px;
    display: inline-block;
    transition: all ease-in-out 0.2s;
}
.card-by-steps{
    margin: 70px 0 30px;   
    position: relative;
}
.card-by-steps::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 6px;
    background: #4e4e4e;
    z-index: -1;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;

}
.card-by-steps .cardsteps{
    width: 20%;
    position: relative;
}
.card-by-steps .cardsteps .imgbox {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background: #4e4e4e;
    text-align: center;
    padding: 10px;
}
.card-by-steps .cardsteps .imgbox img{
    max-width: 100%;
    width: 100%;
}
.card-by-steps .cardsteps p{
    margin: 0;
    font-size: 17px;
    line-height: normal;
}
.card-by-steps .cardsteps h3{
    padding: 10px 0;
    font-weight: 700;
    font-size: 19px;
    margin: 20px 0 0 0;
}
.card-by-steps .cardsteps:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 17px;
    background: url(../images/directions-arrow.png) no-repeat top center;
    background-size: 24px;
    z-index: 9;
    top: 30%;
    right: -30%;
    margin: auto;
}
.card-by-steps .cardsteps:last-child:after{
    display: none;
}
#slide-video h4{
    padding: 30px 0 20px;
    font-weight: 700;
    font-size: 22px;
}
.videobox{
    position: relative;
}
.videobox img{
    width: 100%;
}
.videobox .videoplay{
    position: absolute;
    transition: all ease-in-out 0.2s;
    z-index: 999;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.videobox p{
    margin: 0;
    padding: 10px 0;
}
.videobox .videoplay:hover{
    width: 70px;
    height: 70px;
}
.videobox .videoplay img{
    width: 100%;
}

#slide-video .owl-carousel .owl-nav .owl-prev, #slide-video .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    z-index: 999;
    border-radius: 50%;
    outline: 0;
    box-shadow: none;
}
#slide-video .owl-carousel .owl-nav .owl-prev span, #slide-video .owl-carousel .owl-nav .owl-next span{
    display: none;
}
#slide-video .owl-nav .owl-prev{
    background: url(../images/vid-nav-prev.png) center center no-repeat;
    background-size: 100%;
    left: -80px;
}
#slide-video .owl-nav .owl-next{
    background: url(../images/vid-nav-next.png) center center no-repeat;
    background-size: 100%;
    right: -80px;
}
#videoboxmodal .modal-body{
    padding: 5px;
}
#videoboxmodal .close{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    border: 1px solid #a09d9d;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    padding: 10px;
    position: absolute;
    background: #fff;
    top: -20px;
    right: -15px;
    z-index: 999;
}
#videoboxmodal .close img{
    max-width: 100%;
    width: 100%;
}

/*----------- Flip game -----------*/
.card-deck{
  flex-direction: unset;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-deck .card {
  color: transparent;
  background: url(../images/flip-cover.png) no-repeat top left transparent;
  background-size: 100% 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  width: 23%;
  height: 350px;
  align-items: center;
  flex: unset;
  flex-direction: unset;
  min-width: 240px;
  margin: 10px;
  padding: 0;
}

.card-deck .card.open {
	cursor: default;
	animation-name: flipInY;
	animation-duration: 0.5s;
}

.card-deck .card.open span{
	background: #ffffff;
}
.card-deck .card.open span img,.card-deck .card.matching span img{
	display: block;
	max-width: 100%;
	width: auto;
}
.card-deck .card.show {
	font-size: 33px;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

/* Styles matching cards. Not sure why, but .card-deck needed */
.card-deck .card.matching {
	cursor: default;
	font-size: 33px;
	animation-name: rubberBand;
  backface-visibility: visible;
	-webkit-backface-visibility: visible;
  animation-duration: 0.5s;
  background: transparent;
}
.card-deck .card.matching span{
	background: #fff;
}

.card-deck .card.not-matching {
	animation-name: pulse;
  animation-duration: 0.5s;
	background: transparent;
}
.card-deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}
.score-panel {
	text-align: left;
  margin: 0.4em 0 0.4em;
}

.stars {
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.stars li {
	list-style: none;
	display: inline-block;
}

.restart {
	cursor: pointer;
  color: #2eb82e;
}

.timer {
	margin: 0 0.5em;
}
.gamemodal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.62);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.gamemodal  .modal-content {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
  text-align: center;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 2s ease-in-out;
}

.gamemodal .modal-content h2 {
	margin-top: 0;
	color: #333;
}

.gamemodal .close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color: #333;
}

.gamemodal .close:hover {
	color: #1db9f2;
}

.gamemodal .modal-content .congrats-message,
.info-message {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.congrats-message {
  margin-top: 0.9em;
}

.star-rating li {
	display: inline-block;
  list-style: none;
}
.play-again {
  cursor: pointer;
	background-color: #1db9f2;
  border: none;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 40%;
	color: #fff;
	border-radius: 5px;
}

@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.game {
  background-color: #fff0d3;
  width: calc(100%);
}

.back {
  padding: 15px 40px;
  background: #ed2024 url(../images/arrow.png) no-repeat top 22px left 17px;
}

.back a {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-family: 'CocogooseProtrial';
}

.tower {
  position: fixed;
  bottom: 0;
  left: 10px;
}

.width40 {
  float: right;
  width: 50%;
  text-align: right;
}

.width60 {
  float: left;
  width: 50%;
}

.width50 {
  float: left;
  width: 50%;
}

.game1 {
  padding: 20px;
  box-sizing: border-box;
}

.timmer {
  position: relative;
  background: url(../images/time.png) no-repeat top left;
  width: 180px;
  height: 84px;
  background-size: 100%;
}

.reset {
  position: absolute;
  right: 20px;
  top: 10px;
}

#timing {
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  padding: 12px 13px;
}

.hd {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  margin-top: -20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#pair-left {
  position: relative;
  background: url(../images/pair-left.png) no-repeat top left;
  width: 100%;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 30px;
  font-family: 'DINNextLTProBold';
  padding: 12px 10px;
  box-sizing: border-box;
  text-align: center;
}

.main-game {
  padding: 0 20px;
}

.main-game ul {
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 30px 0;
}

.main-game ul li {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  width: 50%;
  list-style: none;
  vertical-align: middle;
  display: table;
  min-height: 126px;
}

.main-game ul li span {
  border: none;
  border-radius: 10px;
  display: block;
  text-align: center;
  background: transparent url(../images/flip-cover.png) no-repeat center center;
  background-size: 100px;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.main-game ul li span img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  display: none;
  min-height: auto;
  border-radius: 10px;
  background: transparent;
}